.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    > * {
        grid-column: 2;
    }
    > *.full {
        grid-column: 1 / -1;
    }
    .side-start {
        grid-column: 1/-2;
    }
    .side-end {
        grid-column: -1/2;
    }
}
