.app-modal,
.modal-overlay {
    position: fixed;
    z-index: 99;
    opacity: 0;
    transition: 0.2s opacity;
    pointer-events: none;
    &.open {
        pointer-events: all;
        opacity: 1;
    }
}
.modal-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008e;
}
.app-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.app-modal {
    &.open {
        pointer-events: all;
        opacity: 1;
    }
    > .close-btn {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 30px;
        height: 30px;
    }
}
