.app-headerr {
    position: sticky;
    background-color: #fff;
    z-index: 55;
    position: relative;
    border-bottom: 1px solid $gray-F;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    //   &::before {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: #fff;
    //     transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    //   }
    &.filter-open {
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
        &::before {
            transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
            height: 200%;
        }
    }
    .container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1;

        min-height: $header-height-desktop;
    }
    .logo {
        color: $primary;
        .logo-svg {
        }
    }
    .user {
        justify-self: end;
    }
    .filter-cta {
        flex: 0 1 auto;
        min-width: 348px;
        padding: 0 8px;
        display: flex;
        pointer-events: all;
        opacity: 1;
        position: relative;
        transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale(1) translateY(0px) translateZ(0px) perspective(1000px);
        transform-origin: 50% 50%;
        > * {
            cursor: pointer;
        }
        &.hide {
            transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
                opacity 0.15s cubic-bezier(0.075, 0.82, 0.165, 1) 0.15s;
            transform: scale(1.5) translateY(66px) translateZ(66px) perspective(1000px);
            opacity: 0;
            pointer-events: none;
        }
    }

    .filter {
        left: 50%;
        transform: translateX(-50%);
        justify-self: center;
        display: flex;
        height: 66px;
        width: 100%;
        position: absolute;
        top: $header-height-desktop;
        flex: 1 1 0%;
        min-width: 348px;
        pointer-events: auto;
        opacity: 0;
        transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        max-width: 348px;
        transform: translateY(-66px) translateX(-50%) translateZ(66px);
        transform-origin: 0% 50%;
        pointer-events: none;
        overflow: hidden;

        > * {
            height: 0;
            width: 0;
            opacity: 0;
            transition: none;
            transition: opacity ease 0.15s;
            position: relative;
        }
        &.shown {
            background-color: #ebebeb;
            pointer-events: all;
            max-width: 850px;
            transform: translateY(0px) translateX(-50%) translateZ(0px);
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            opacity: 1;
            overflow: visible;
            > * {
                transition: opacity ease 0.5s 0.15s;
                height: auto;
                width: auto;
                opacity: 1;
            }
        }
        &.out-of-focus {
            transition: all 0.3s ease;
            background-color: #fff;
            box-shadow: inset 0px 0px 0px 1px $gray-D;
        }
        > div {
            &.active {
                background-color: #fff;
                box-shadow: rgba(101, 103, 117, 0.233) 0px 6px 30px 1px;
                z-index: 2;
                &:hover {
                    background-color: #fff;
                }
            }
        }

        .filter-title {
            font-size: 12px;
        }

        .location-wrapper,
        .guests-wrapper {
            border-radius: 100px;
            cursor: pointer;
            label {
                cursor: pointer;
            }

            &:hover:not(.active) {
                background-color: $gray-E;
                border-radius: 100px;
            }
        }

        .location-wrapper {
            flex: 1 0 0;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            label {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .dates-wrapper {
            flex: 1.5 0 0;
            min-width: 0;
            > div {
                height: 100%;
                padding: 0 2rem;
                border-radius: 100px;
                flex: 1;
                &:hover:not(.active) {
                    background-color: $gray-E;
                    border-radius: 100px;
                    cursor: pointer;
                }
                &.active {
                    background-color: #fff;
                    box-shadow: rgba(101, 103, 117, 0.233) 0px 6px 30px 1px;
                    z-index: 2;
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
        }
        .guests-wrapper {
            flex: 1 0 0;
            padding: 0 0.5rem 0 2rem;
            > div {
                flex: 1;
            }
        }
    }

    // BUTTONS
    .filter,
    .filter-cta {
        border-radius: 40px;

        box-shadow: inset 0px 0px 0px 1px $gray-D, rgba(0, 0, 0, 0.03) 0px 1px 2px, rgba(0, 0, 0, 0.03) 0px 2px 4px,
            rgba(0, 0, 0, 0.03) 0px 4px 8px, rgba(0, 0, 0, 0.03) 0px 8px 16px, rgba(0, 0, 0, 0.03) 0px 16px 32px,
            rgba(0, 0, 0, 0.03) 0px 32px 64px;
        .divider-r {
            border-right: 1px solid #ebebeb;
        }
        .divider-r {
        }
        .filter-btn {
            outline: none;
            border: none;
            background-color: transparent;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            height: max-content;
            &:not(.btn-icon) {
                padding: 12px 16px;
            }
            &.muted {
                color: $gray-700;
            }
            &.btn-icon {
                font-size: 16px;

                &.primary {
                    color: white;
                    background: $primary;
                    &.active {
                        background: $brand-gradient;
                    }
                }
                &.circled {
                    border-radius: 100px;
                }
                &.small,
                &.large {
                    > svg {
                        display: block;
                        fill: none;
                        stroke: currentcolor;
                        overflow: visible;
                    }
                }
                &.large {
                    padding: 14px;
                    > svg {
                        display: block;
                        fill: white;
                        height: 20px;
                        width: 20px;
                        stroke: currentcolor;
                        // stroke-width: 1.01;
                        overflow: visible;
                    }
                }
                &.small {
                    padding: 10px;
                    > svg {
                        height: 14px;
                        width: 14px;
                        stroke-width: 2.01;
                    }
                }
                &.medium {
                }
            }
        }
    }
}

.screen {
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
    &.open {
        pointer-events: all;
        opacity: 0.35;
    }
}
