.app-header {
    position: relative;
    z-index: 9;
    position: sticky;
    top: 0;
    header {
        background-color: white;
        z-index: 2;
        border-bottom: 1px solid $gray-F;
        &.sm-layout {
            // max-width: $break-normal;
            margin-inline: auto;
        }
        .logo {
            cursor: pointer;
            color: $primary;
        }
        // Header bg-color extension when expanded as ::before
        &::before {
            content: '';
            // padding: 1rem 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            transition: 0.3s all ease;
            z-index: -1;
        }
        &.expanded {
            transition: 0.3s all ease;
            &::before {
                transition: 0.3s all ease;
                height: calc(200% + 2rem);
            }
        }
        // Header content wrapper
        .wrapper {
            padding: 1rem 0;
        }
    }
    .overlay-screen {
        z-index: -1;
    }
}
