.search-form-container {
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    transform: translate(-50%, -2rem) scale(0.25);
    margin: 0 auto;
    transition: all 0.25s ease-in-out;
    opacity: 0;
    pointer-events: none;
    &.expanded {
        transition: all 0.25s ease-in-out;
        transform: translate(-50%, 100%) scale(1);
        opacity: 1;
        pointer-events: all;
    }
    &.blured {
        .search-form {
            background-color: #fff;
        }
    }
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid $gray-E;
    background-color: $gray-E;
    .module-container {
        border-radius: 155px;
        display: flex;
        align-items: center;
        &:hover:not(.active) {
            background-color: #e0e0e0;
        }
        &.active {
            background-color: #fff;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }
        &.location,
        &.guests {
            flex: 2;
        }
        &.startDate,
        &.endDate {
            flex: 1;
        }
    }
    .form-search-btn {
        margin-inline-end: 0.5rem;
        background: $brand-gradient;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 155px;
        transition: all 0.3s;
        min-width: max-content;
        max-width: 100%;
        width: 2rem;
        height: 3rem;
        padding: 0 1rem;
    }
}
